<% include ../partials/boilerplate %>

<form method='POST' action='/quotes'>
  <input name='content' type='text' placeholder='Quote' />
  <input name='author' type='text' placeholder='Author' />
  <input name='genre_id' type='text' placeholder='Genre' />
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/end %>